<html>
<head>
</head>
<body>
    <h1>Braintree Credit Card Transaction Form</h1>
    <form action="@Url.Action("CreateCustomer")" method="POST" id="braintree-payment-form">
        <h2>Customer Information</h2>
        <p>
            <label>First Name</label>
            <input type="text" name="first_name" id="first_name" value="Gavin"></input>
        </p>
        <p>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" value="Foley"></input>
        </p>
        @*        <p>*@
        @*            <label for="postal_code">Postal Code</label>*@
        @*            <input type="text" name="postal_code" id="postal_code" value="90210"></input>*@
        @*        </p>*@
        <h2>Credit Card</h2>
        <p>
            <label>Card Number</label>
            <input type="text" size="20" autocomplete="on" data-braintree-name="number" id="number" value="4111111111111111" />
        </p>
        <p>
            <label>CVV</label>
            <input type="text" size="4" autocomplete="off" data-braintree-name="cvv" id="cvv" value="100" />
        </p>

        <p>
            <label>email</label>
            <input type="text" size="30" autocomplete="off" data-encrypted-name="email" name="email" value="gavin+45774@wipster.io" />
        </p>
        <p>
            <label>Expiration (MM/YYYY)</label>
            <input type="text" size="2" data-braintree-name="expiration_month" id="expiration_month" value="11" /> /
            <input type="text" size="4" data-braintree-name="expiration_year" id="expiration_year" value="2018" />
        </p>
        <input class="submit-button" type="submit" />

        <input type="hidden" id="payment_method_nonce" name="payment_method_nonce" value="" />

    </form>

    <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>

    <script>



    </script>

    <script type="text/javascript">

        var clientToken;

        $.ajax("/api/braintree/token")
        .then(function (response) {
            clientToken = response;
            //braintree.setup(clientToken, "custom", { id: "braintree-payment-form" });
        }, function (error) {
            console.log("error response: ", error);
        });

        function tokenizeCard(callback) {
            var client = new braintree.api.Client({ clientToken: clientToken });

            client.tokenizeCard({
                number: $('#number').val(),
                cardholderName: $('#first_name').val() + " " + $('#last_name').val(),
                // You can use either expirationDate
                //expirationDate: "10/20",
                // or expirationMonth and expirationYear
                expirationMonth: $('#expiration_month').val(),
                expirationYear: $('#expiration_year').val(),
                // CVV if required
                cvv: $('#cvv').val()
//                // Address if AVS is on
//                billingAddress: {
//                    postalCode: "94107"
//                }
            }, function (err, nonce) {
                // Send nonce to your server
                console.log("done: ", nonce);
                callback(nonce);
            });
        }

        function postForm(nonce) {
            $('#payment_method_nonce').val(nonce);
            $("#braintree-payment-form").submit();
        }

        $(".submit-button").click(function (e) {
            e.preventDefault();
            tokenizeCard(postForm);
        });

    </script>
</body>
</html>